<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
  <head>
    <title>{%block title%}{%endblock%} - SdZ - PhonyProxy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" media="screen" type="text/css" title="SdZ" href="/static/phone.css" />
    <meta name="HandheldFriendly" content="true" />
    <script type="text/javascript" src="/static/phone.js"></script>
  </head>
  <body>
    <div id="header">
      <img src="http://www.siteduzero.com/Templates/images/designs/2/favicon.ico" alt="" style="height: 48px; width: 48px;" />
      Version mobile du Site du Zéro
    </div>
    <div id="menu">
      <a href="/phone/">Accueil</a>
      <a href="/phone/news/">News</a>
      <a href="/phone/tutos/">Cours</a>
      <a href="/phone/forums/">Forums</a>
    </div>
    <div id="body">
      {%block body%}
      {%endblock%}
    </div>
    <div id="footer">
      Version mobile non officielle du Site du Zéro
    </div>
  </body>
</html>
