{% extends "phone/base.html" %}

{%block title%}Accueil{%endblock%}

{%block body%}
  <p>
    Bienvenue sur une version mobile du Site du Zéro.<br />
    SdZ++, le site fournissant ce service, est un logiciel libre, développé
    avec Django.
    Le code source, ainsi que la documentation et le bug tracker sont
    disponibles sur <a href="https://github.com/ProgVal/SdZpp">GitHub</a>.
  </p>
  <p>
    Veuillez noter que SdZ++ n'est en aucun cas affilié au Site du Zéro,
    et ne peut être tenu pour responsable du contenu du sites et/ou
    des actions des utilisateurs.
  </p>
{%endblock%}
