{%extends "sdz/base.html"%}

{%block title%}Forum{%endblock%}

{%block body%}
	<dl>
		{%for category in categories%}
			<dt>
				{%autoescape off%}
					{{category.name}}
				{%endautoescape%}
			</dt>
			<dd>
				<dl>
					{%for subCategory in category.subCategories%}
						<dt>
							<a href="/sdz/forums/categories/{{subCategory.id}}/">
							{%autoescape off%}
								{{subCategory.name}}
							{%endautoescape%}
							</a>
						</dt>
						<dd>
							{%autoescape off%}
								{{subCategory.description}}
							{%endautoescape%}
						</dd>
					{%endfor%}
				</dl>
			</dd>
		{%endfor%}
	</dl>
{%endblock%}

