{%extends "sdz/base.html"%}

{%block title%}Topic{%endblock%}

{%block body%}
	<h1>{{topic_title}}</h1>
	{%for id in page_ids%}
		{%if id == page_id%}
			{{id}}
		{%else%}
			{%if id != '...'%}
				<a href="./{{id}}">{{id}}</a>
			{%else%}
				…
			{%endif%}
		{%endif%}
	{%endfor%}
	{%for message in messages%}
		<div>
			<a href="/sdz/members/{{message.author.id}}/">{{message.author.name}}</a>&nbsp;
			Posté {{message.posted_on}}<br />
			{% autoescape off %}
				{{message.content}}
			{% endautoescape %}
		</div>
		<hr />
	{%endfor%}
{%endblock%}

