{%extends "sdz/base.html"%}

{%block title%}{{title}}{%endblock%}

{%block body%}
	<h1>{{title}}</h1>
	Auteur(s) :
	<ul>
		{%for author in authors%}
			<li><a href="/sdz/members/{{author.id}}/">{{author.name}}</a></li>
		{%endfor%}
	</ul>
	Licence : {{license}}
	<hr />
	{%autoescape off%}
		{{intro}}
	{%endautoescape%}

	{%for subpart in subparts%}
		<h2>Partie {{subpart.id}} : {{subpart.name}}</h2>
		<dl>
			{%for minituto in subpart.minitutos%}
				<dt><a href="/sdz/tutos/view/{{minituto.id}}/">{{minituto.name}}</a></dt>
				{%for minitutopart in minituto.subparts%}
					{%autoescape off%}
						<dd><a href="/sdz/tutos/view/{{minituto.id}}/#ss_part_{{subpart.id}}">{{subpart.name}}</a></dd>
					{%endautoescape%}
				{%endfor%}
			{%endfor%}
		</dl>
	{%endfor%}
{%endblock%}
