{% extends "sdz/base.html" %}

{%block title%}Accueil{%endblock%}

{%block body%}
  <p>
    Bienvenue sur PhonyProxy-SdZ.<br />
    PhonyProxy est un site web qui affiche des version allégées de certains
    autres sites, de façon optimisée pour les mobiles.<br />
    PhonyProxy est un logiciel libre, développé avec Django.
    Le code source, ainsi que la documentation et le bug tracker sont
    disponibles sur <a href="https://github.com/ProgVal/PhonyProxy">GitHub</a>.
  </p>
  <p>
    Veuillez noter que PhonyProxy n'est en aucun cas affilié aux sites webs
    présentés, et ne peut être tenu pour responsable du contenu des sites et/ou
    des actions des utilisateurs.
  </p>
{%endblock%}
